html {
	height: 100%;
}

html, body {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
	background-color: none;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
}

/*little ditty to remember how to do content inserts
h2::before, h2::after {
	content: "-------------";
}*/

h2 {
	font-family: adobe-garamond-pro, Georgia, serif;
}

h3, h4 {
	font-family: europa, sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	font-size: 1.25em;
	font-family: serif;
}

.customizer {
	margin-top: 0px;
	height: 768px;
	display: block;
	background: url("../img/width.jpg") no-repeat fixed center;
	background-size: cover;
	width: 100%;
}

#color {
	background-image: url("../img/bg/black_bred_plum.png");
	background-position: no-repeat fixed center;
}

.customizer:nth-of-type(3) {
	background: url("../img/tipping.jpg") no-repeat fixed center;
}

.customizer:nth-of-type(4) {
	background: url("../img/initials.jpg") no-repeat fixed center;
}

.left, .right {
	margin-top: 0px;
	float: left;
	width: 50%;
}

.left {
	padding-left: 10%;
}

.right {
	padding-right: 10%;
}

section {
	width: 100%;
	margin: 0 auto;
	padding-top: 120px;
	text-align: center;
}

/*NAV*/

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.nav {
	float: right;
	margin: 40px 0 0 0;
	list-style: none;
}

ul.nav li {
	float: left;
	margin-right: 200px;
}

ul.nav li:last-child {
	margin-right: 100px;
}

li a {
	text-decoration: none;
}

li a:visited {
	color: rgba(256, 256, 256, 0.7)
}

/*SIDE NAV*/

#scene_nav {
	position: fixed;
	top: 260px;
	left: 20px;
}

#scene_nav ul {
	list-style-type: disc;
	padding-left: 20px;
}

#scene_nav li a {
	text-align: left;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	margin-bottom: 10px;
	font-size: 1em;
}


#scene_nav li a:visited {
  color: white;
}

#scene_nav li a:active {
  background: red;
  font-weight: bold;
}

.scene_nav li a:hover {
  color: white;
}

/*GENERAL*/

button {
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
	padding: 16px 40px;
	font-weight: bold;
}

button:hover, .active {
	background-color: white;
	border: 2px solid white;
	text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
	color: black;
	outline-style: none;
}

/*Width Customizations*/
#width section {

}

/*Color Boxes*/
.color-row {
	height: 1.75em;
	width: 100%;
	margin: 0 auto 10px;
}
.color-box {
	background-color: purple;
	width: 2.25em;
	height: 2.25em;
	margin: 0px 10px 0px 0px;
	float: left;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid rgba(255,255,255,.1);
}
.color-chosen {
	background-color: blue;
	float: left;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,.1);
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}

/*Color Section Customizations*/

#color section {
	margin: 0 750px;
	width: 400px;
	padding-top: 150px;
	text-align: left;
}

#color h4 {
	font-size: 2.25em;
	margin: 0 5px 10px 0;
	padding-top: 0px;
	float: left;
}

/*Tipping Customizations*/
#tipping section {
  margin: 0 200px;
	padding-top: 300px;
	width: 400px;
	text-align: right;
}

#tipping .color-chosen {
	height: 3em;
	width: 3em;
	margin: 0;
}

#tipping .color-box {
	float: right;
	margin: 0 0 0 10px;
}

#tipping p {
	margin: 0 0 15px 0;
}

#tipping h2 {
	margin: 0 0;
}

input[type="text"]{
	text-align: center;
	font-family: Georgia, serif;
	font-size: 5em;
	margin: 1em;
	padding-top: 10px;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px dotted black;
	vertical-align: bottom;
}

input[type="checkbox"]{
	position: relative;
}

label {
	display: block;
	padding-left: 40px;
	text-indent: 1em;
}

/*For 'next page' element; currently not being used on account of i broke it...*/
.next a {
	text-decoration: none;
	font-style: italic;
	position: absolute;
	margin: 0px auto;
	height: 80px;
	width: 200px;
	bottom: 40px;
	text-align: center;
	background: purple url("../img/glyphicons_223_chevron-down.png");
}

/*For clearing floats; treehouse hack*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.navy {
  background-color: rgb(000,011,075);
}

.white {
  background-color: rgb(240,240,240);
}

.smoke {
  background-color: rgb(110,108,125);
}

.black {
  background-color: rgb(000,000,000);
}

.plum {
  background-color: rgb(045,000,050);
}

.yellow {
  background-color: rgb(249,255,075);
}

.oxblood {
  background-color: rgb(093,000,031);
}

.spruce {
  background-color: rgb(018,050,032);
}

.graine {
  background-color: rgb(040,040,040);
}

.tudor {
  background-color: rgb(136,000,035);
}

.wine {
  background-color: rgb(093,000,024);
}

.bred {
  background-color: rgb(225,021,000);
}

.poppy {
  background-color: rgb(212,000,015);
}

.royal {
  background-color: rgb(000,016,113);
}

.pink {
  background-color: rgb(255,187,192);
}

/*BOOTSTRAP OVERRIDES*/
/*PANEL*/
.panel, .panel-body {
	border: none;
	background-color: rgba(0,0,0,0);
}
.panel-group {
	width: 450px;
}

.panel-title a {
	color: white;
	vertical-align: middle;
	text-decoration: none;
}

.panel-default>.panel-heading {
	background-color: rgba(0,0,0,0);
	padding-left: 0;
}