html {
	height: 100%;
}

html, body {
	color: #343434;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
}

/*little ditty to remember how to do content inserts
h2::before, h2::after {
	content: "-------------";
}*/

h2 {
	font-family: Georgia, serif;
}

h3, h4 {
	font-family: europa, sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	font-size: 1.25em;
	font-family: serif;
}

.customizer {
	margin-top: 0px;
	height: 100%;
	display: block;
	background: purple url("../img/tie-test-bg.png") no-repeat fixed center;
	background-size: cover;
	width: 100%;
}

.customizer:nth-of-type(1) {
	background: gray;
}

.customizer:nth-of-type(3) {
	background: gray;
}

.left, .right {
	float: left;
	margin-left: 20%;
}

section {
	width: 80%;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
	height: 768px;
}

/*NAV*/

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.nav {
	float: right;
	margin: 40px 0 0 0;
	list-style: none;
}

ul.nav li {
	float: left;
	margin-right: 200px;
}

ul.nav li:last-child {
	margin-right: 100px;
}

li a {
	text-decoration: none;
}

/*SIDE NAV*/

.scene_nav {
	position: fixed;
	top: 30%;
	left: 20px;
}

.scene_nav li a {
	background: rgba(0,0,0,.7);
	text-align: center;
	color: white;
	display: block;
	width: 80px;
	padding: 20px 0 12px;
	margin-bottom: 5px;
	font-size: .75em;
}

.scene_nav li a img {
  display: block;
	margin: auto;
	margin-bottom: 12px;
}

.scene_nav li a:visited {
  color: white;
}

.scene_nav li a:selected {
  background: white;
}

.scene_nav li a:hover {
  color: white;
  background: purple;
}

/*GENERAL*/

button {
	border: 2px solid #343434;
	background-color: rgba(0,0,0,0);
	padding: 16px 40px;
	font-weight: bold;
}

button:hover {
	background-color: purple;
	border: 2px solid purple;
}

/*Color Boxes*/
.color-row {
	height: 1.75em;
	width: 100%;
	margin: 0 auto 10px;
}
.color-box {
	background-color: purple;
	width: 1.75em;
	height: 1.75em;
	margin: 0px 10px 0px 0px;
	float: left;
}
.color-chosen {
	float: left;
	width: 2em;
	height: 2em;
	margin-top: 5px;
}

/*Color Section Customizations*/

#color section {
  	margin: 0 600px;
	width: 400px;
	text-align: left;
}

#color h4 {
	font-size: 2.25em;
	margin: 0 5px 10px 0;
	padding-top: 0px;
	float: left;
}
/*Tipping Customizations*/
#tipping section {
  	margin: 0 200px;
	padding-top: 300px;
	width: 400px;
	text-align: right;
}

#tipping .color-chosen {
	height: 3em;
	width: 3em;
	margin: 0;
}

#tipping .color-box {
	float: right;
	margin: 0 0 0 10px;
}

#tipping p {
	margin: 0 0 15px 0;
}

#tipping h2 {
	margin: 0 0;
}

input {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin: 1em;
	padding-top: 10px;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px dotted black;
	vertical-align: bottom;
}

/*For 'next page' element; currently not being used on account of i broke it...*/
.next a {
	text-decoration: none;
	font-style: italic;
	position: absolute;
	margin: 0px auto;
	height: 80px;
	width: 200px;
	bottom: 40px;
	text-align: center;
	background: purple url("../img/glyphicons_223_chevron-down.png");
}

/*For clearing floats; treehouse hack*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}